<ul class="list-group ">
    <li class="list-group-item p-0 mb-2">
        <p class="mb-0 fs-6 font-500 white">Desarrollador Full Stack Jr</p>
        <p class="mb-0 fs-6 font-300 white">jul. 2021 - ago. 2021 · 2 meses</p>
        <p class="mb-0 fs-6 font-300 white">Remoto</p>
    </li>
    <li class="list-group-item p-0 mb-2">
        <p class="mb-0 fs-6 font-500 white">Desarrollador Full Stack Trainee</p>
        <p class="mb-0 fs-6 font-300 white">mar. 2021 - jun. 2021 · 4 meses</p>
        <p class="mb-0 fs-6 font-300 white">Remoto</p>
    </li>
    <li class="list-group-item p-0">
        <p class="mb-0 fs-6 font-500 white">Pasantía Desarrollador Full Stack</p>
        <p class="mb-0 fs-6 font-300 white">ene. 2021 - mar. 2021 · 3 meses</p>
        <p class="mb-0 fs-6 font-300 white">Remoto</p>
    </li>
</ul>