<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/styles.css">
    <link rel="stylesheet" href="../src/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="container-fluid vh-100" id="principal">
        <div class="d-flex flex-column justify-content-center text-center align-self-center black h-100">
            <div class="font-200 fs-10">Hola 👋🏻, soy</div>
            <div class="font-900 fs-1">Matías Díaz Arriaza</div>
            <div class="font-500 fs-10">Analista Senior de Inteligencia de negocios</div>
            <div class="buttonSection mt-2">
                <button type="button" class="btn btn-outline-primary rounded-circle-prim" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Mi Linkedin" data-bs-offset="0, 10"><i class="fa-brands fa-linkedin-in"></i></button>
                <button type="button" class="btn btn-outline-primary rounded-circle-prim" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Mi CV" data-bs-offset="0, 10"><i class="fa-solid fa-page-caret-down"></i></button>
                <button type="button" class="btn btn-outline-primary rounded-circle-prim" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Mi correo" data-bs-offset="0, 10"><i class="fa-solid fa-envelopes"></i></button>
              </div>    
        </div>

        <div id="particles-js"></div>
    </section>
    <section class="container-fluid  background-secondary p-3">
        <div class="d-flex flex-column text-center white h-100">
            <div class="font-900 fs-1">UN POQUITO SOBRE MÍ<span class="montserrat-title">.</span></div>
            <div class="d-flex flex-wrap m-4">
                <img src="../src/img/micara3.png" width="300wv" alt="" srcset="">
                <div class="d-flex flex-column justify-content-center col-9">
                    <div class="font-500 fs-12 justify-text p-3">
                        <!-- "Soy una persona persistente y leal, dedicada a perfeccionar constantemente mi entorno a través de un enfoque proactivo hacia el aprendizaje y la aplicación de conocimientos nuevos. En el ámbito bancario, no solo me esfuerzo por asegurar que los procesos se ejecuten sin problemas, sino que también busco activamente adquirir habilidades y técnicas innovadoras, las cuales implemento de manera eficaz para mejorar nuestro servicio. Fuera del trabajo, mi interés en el café me lleva a experimentar y aplicar nuevas técnicas de preparación, con el sueño a largo plazo de abrir una cafetería en el sur de Chile. Valorando profundamente el trabajo en equipo y la comunicación efectiva, busco contribuir a un ambiente colaborativo donde todos podamos crecer juntos." -->
                        En mi carrera, valoro la oportunidad de crecer y aplicar lo aprendido en cada proyecto que abordo. Trabajando en el sector bancario, pongo especial atención en la ejecución de proyectos, introduciendo propuestas prácticas y asegurándome de que aporten valor real y mejoren nuestra forma de operar. Mi afición por el café me lleva a soñar con abrir mi propia cafetería en el sur de Chile, donde espero crear un rincón de calidez y sabor. En todo lo que hago, me esfuerzo por promover la colaboración y la comunicación abierta, comprometiéndome a contribuir a un ambiente donde todos podamos avanzar juntos<span class="montserrat-parrafo"> .</span>
                    </div>
                </div>
       
            </div>
        
            
        </div>
        
    </section>
    <section class="container-fluid p-3" >
        <div class="d-flex flex-column justify-content-center text-center align-self-center black h-100 "> 

            <div class="font-900 fs-1 mb-3">MIS AMPLITUDES<span class="montserrat-title">.</span></div>
            <div class="row text-center ">
                <div class="col-4 p-3">
                    <div class="font-700 fs-5 mb-2">Análisis de Datos y BI</div>
                    <div class="d-flex flex-wrap fs-7 justify-content-center font-300">
                            <div class="tags">Análisis de Datos</div>
                            <div class="tags">Visualización de Datos</div>
                            <div class="tags">SQL</div>
                            <div class="tags">Python</div>
                            <div class="tags">Power BI</div>
                            <div class="tags">Web Scraping</div>
                            <div class="tags">Control de versiones</div>
                    </div>
                </div>
                <div class="col-4 p-3">
                    <div class="font-700 fs-5 mb-2">Liderazgo y Comunicación</div>
                    <div class="d-flex flex-wrap fs-7 justify-content-center font-300">
                            <div class="tags">Comunicación Efectiva</div>
                            <div class="tags">Trabajo en Equipo</div>
                            <div class="tags">Presentaciones</div>
                            <div class="tags">Gestión de Conflictos</div>

                    </div>
                </div>
                <div class="col-4 p-3">
                    <div class="font-700 fs-5 mb-2">Innovación y Estrategia</div>
                    <div class="d-flex flex-wrap fs-7 justify-content-center font-300">
                            <div class="tags">Pensamiento Crítico</div>
                            <div class="tags">Resolución de Problemas</div>
                            <div class="tags">Creatividad</div>
                            <div class="tags">Autodidacta</div>
                            <div class="tags">Planificación Estratégica</div>
                            <div class="tags">Mejora Continua</div>
                            

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="container-fluid background-secondary p-3">
        <div class="d-flex flex-column white h-100">
            <div class="font-900 fs-1 mb-3 text-center">MI EXPERIENCIA LABORAL<span class="montserrat-title">.</span></div>
            <div class="d-flex flex-wrap fs-7 font-300 justify-content-start align-items-start gap-3">
                <div class="info-card col-5 mt-0">
                    <div class="icon-holder mb-0">
                        <img src="https://media.licdn.com/dms/image/C4D0BAQErd4HjgBODQQ/company-logo_100_100/0/1654202549635/banco_security_logo?e=1716422400&v=beta&t=QSmiXXrC6QQe5v-7Ii124gUhU2jYr6-xHTdWYcXHpqU" alt="Icon" style="width:100%; height:100%; border-radius:50%; object-fit:cover;">
                    </div>
                    <div class="time-period mb-3 mt-2 font-300 text-center">ago. 2021 - actualidad</div>
                    <div class="company mb-3 text-center">Banco Security</div>
                    <div>
                        <ul class="list-group lista-con-linea lista-con-linea-actual">
                            <li class="list-group-item">
                                <p class="mb-0 font-500 white">Analista Sr Inteligencia de negocios</p>
                                <p class="mb-0 font-300 white">abr. 2023 - actualidad · 11 meses</p>
                                <p class="mb-0 font-300 white">Remoto</p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0 fs-6 font-500 white">Analista Inteligencia de negocios</p>
                                <p class="mb-0 fs-6 font-300 white">ago. 2021 - mar. 2023 · 4 meses</p>
                                <p class="mb-0 fs-6 font-300 white">Remoto</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info-card col-5 mt-0">
                    <div class="icon-holder mb-0">
                        <img src="https://media.licdn.com/dms/image/D4E0BAQFjMhsNflDeEw/company-logo_100_100/0/1704718475304/acltecnologia_logo?e=1716422400&v=beta&t=_956j3prFtu3DVOrEm7lUqgCpugZla5t2FbfJ9nkYTo" alt="Icon" style="width:100%; height:100%; border-radius:50%; object-fit:cover;">
                    </div>
                    <div class="time-period mb-3 mt-2 font-300 text-center">ene. 2021 - ago. 2021</div>
                    <div class="company mb-3 text-center">ACL Tecnología</div>
                    <div>
                        <ul class="list-group lista-con-linea">
                            <li class="list-group-item">
                                <p class="mb-0 font-500 white">Desarrollador Full Stack Jr</p>
                                <p class="mb-0 font-300 white">jul. 2021 - ago. 2021 · 2 meses</p>
                                <p class="mb-0 font-300 white">Remoto</p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0 fs-6 font-500 white">Desarrollador Full Stack Trainee</p>
                                <p class="mb-0 fs-6 font-300 white">mar. 2021 - jun. 2021 · 4 meses</p>
                                <p class="mb-0 fs-6 font-300 white">Remoto</p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0 fs-6 font-500 white">Pasantía Desarrollador Full Stack</p>
                                <p class="mb-0 fs-6 font-300 white">ene. 2021 - mar. 2021 · 3 meses</p>
                                <p class="mb-0 fs-6 font-300 white">Remoto</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info-card col-5 mt-0">
                    <div class="icon-holder mb-0">
                        <img src="https://media.licdn.com/dms/image/C4D0BAQErd4HjgBODQQ/company-logo_100_100/0/1654202549635/banco_security_logo?e=1716422400&v=beta&t=QSmiXXrC6QQe5v-7Ii124gUhU2jYr6-xHTdWYcXHpqU" alt="Icon" style="width:100%; height:100%; border-radius:50%; object-fit:cover;">
                    </div>
                    <div class="time-period mb-3 mt-2 font-300 text-center">ene. 2020 - mar. 2020</div>
                    <div class="company mb-3 text-center">Banco Security</div>
                    <div>
                        <ul class="list-group lista-con-linea">
                            <li class="list-group-item">
                                <p class="mb-0 font-500 white">Practicante herramientas comerciales</p>
                                <p class="mb-0 font-300 white">ene. 2020 - mar. 2020 · 3 meses</p>
                                <p class="mb-0 font-300 white">Remoto</p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
          
        </div>
    </section>
    <section class="container-fluid background-secondary p-3">
        <div class="d-flex flex-column white h-100 justify-content-center">
            <div class="font-900 fs-1 text-center">MI EXPERIENCIA LABORAL<span class="montserrat-title">.</span></div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                    <!-- Work 1     -->
                    <div class="job w-100 d-flex justify-content-center">
                        <div class="d-flex flex-row justify-content-center col-12">
                            <div class="d-flex align-items-start justify-content-center mt-3">
                                <img src="https://media.licdn.com/dms/image/C4D0BAQErd4HjgBODQQ/company-logo_100_100/0/1654202549635/banco_security_logo?e=1716422400&v=beta&t=QSmiXXrC6QQe5v-7Ii124gUhU2jYr6-xHTdWYcXHpqU" alt="Logo" class="d-block" style="width: 48px; height: 48px;">
                            </div>
                            <div class="ps-3">
                                <p class="mb-0 fs-6 font-500">Banco Security</p>
                                <p class="mb-0 fs-6 font-300">Jornada completa - 2 años 7 meses</p>
                                <p class="mb-0 fs-6 font-300">Las Condes, Región Metropolitana de Santiago, Chile</p>
                                <ul class="list-group list-group-flush lista-con-linea lista-con-linea-actual p-0 mt-3">
                                    <li class="list-group-item p-0 mb-2">
                                        <p class="mb-0 fs-6 font-500 white">Analista Senior Inteligencia de negocios</p>
                                        <p class="mb-0 fs-6 font-300 white">abr. 2023 - actualidad · 11 meses</p>
                                        <p class="mb-0 fs-6 font-300 white">Híbrido</p>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <p class="mb-0 fs-6 font-500 white">Analista Inteligencia de negocios</p>
                                        <p class="mb-0 fs-6 font-300 white">ago. 2021 - abr. 2023 · 1 año 9 meses</p>
                                        <p class="mb-0 fs-6 font-300 white">Híbrido</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Work 2  --> 
                    <div class="job w-100 d-flex justify-content-center">
                        <div class="d-flex flex-row justify-content-center col-12">
                            <div class="d-flex align-items-start justify-content-center mt-3">
                                <img src="https://media.licdn.com/dms/image/D4E0BAQFjMhsNflDeEw/company-logo_100_100/0/1704718475304/acltecnologia_logo?e=1716422400&v=beta&t=_956j3prFtu3DVOrEm7lUqgCpugZla5t2FbfJ9nkYTo" alt="Logo" class="d-block" style="width: 48px; height: 48px;">
                            </div>
                            <div class="ps-3">
                                <p class="mb-0 fs-6 font-500">ACL Tecnología</p>
                                <p class="mb-0 fs-6 font-300">Jornada completa - 8 meses</p>
                                <p class="mb-0 fs-6 font-300">Santiago, Región Metropolitana de Santiago, Chile</p>
                                <ul class="list-group list-group-flush p-0 mt-3  lista-con-linea">
                                    <li class="list-group-item p-0 mb-2">
                                        <p class="mb-0 fs-6 font-500 white">Desarrollador Full Stack Jr</p>
                                        <p class="mb-0 fs-6 font-300 white">jul. 2021 - ago. 2021 · 2 meses</p>
                                        <p class="mb-0 fs-6 font-300 white">Remoto</p>
                                    </li>
                                    <li class="list-group-item p-0 mb-2">
                                        <p class="mb-0 fs-6 font-500 white">Desarrollador Full Stack Trainee</p>
                                        <p class="mb-0 fs-6 font-300 white">mar. 2021 - jun. 2021 · 4 meses</p>
                                        <p class="mb-0 fs-6 font-300 white">Remoto</p>
                                    </li>
                                    <li class="list-group-item p-0">
                                        <p class="mb-0 fs-6 font-500 white">Pasantía Desarrollador Full Stack</p>
                                        <p class="mb-0 fs-6 font-300 white">ene. 2021 - mar. 2021 · 3 meses</p>
                                        <p class="mb-0 fs-6 font-300 white">Remoto</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="../src/js/scripts_particles.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>


</html>